{% extends "base.html" %}

{% block titulo %} Recursos para descargar {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        Archivos
    </div>
    <div class="card-body">
        <h4 class="card-title">Archivos</h4>
        
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>04/08/22</td>
                        <td>quienes_somos.pdf</td>
                        <th>Resumen de quiénes somos y cuál es nuestra misión.</th>
                        <th><a name="" id="" class="btn btn-info" href="#" role="button">Descargar</a>
                    </tr>
                </tbody>
            </table>
            
    </div>

</div>

{% endblock %}